body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 95%;
}

.one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.oneLeft {
    width: 49%;
}